<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- TemplateBeginEditable name="doctitle" -->
	<title>Untitled Document</title>
	<!-- TemplateEndEditable -->
	<!-- Bootstrap -->
	<link href="../css/bootstrap-4.3.1.css" rel="stylesheet">
	<!-- TemplateBeginEditable name="head" -->
	<!-- TemplateEndEditable -->
  </head>
  <body>
  <!-- TemplateBeginEditable name="EditRegion1" -->
  <div class="container-fluid">
     <ul class="nav nav-tabs">
      <li class="nav-item"> <a href="index.dwt" target="new" class="nav-link active">Desórdenes</a> </li>
      <li class="nav-item"> <a href="caracteristicas.dwt" target="new" class="nav-link">Características</a> </li>
      <li class="nav-item"> <a href="causas.dwt" target="new" class="nav-link">Causas</a> </li>
	  <li class="nav-item"> <a href="efectos.dwt" target="new" class="nav-link">Efectos</a> </li>
	  <li class="nav-item"> <a href="señales.dwt" target="new" class="nav-link">Señales</a> </li>
	  <li class="nav-item"> <a href="ayuda.dwt" target="new" class="nav-link">Ayuda</a> </li>
    </ul>
  </div>
  <!-- TemplateEndEditable -->
  <div class="container-fluid">
  <img src="../imagenes/fondo.jpg" width="1200" height="800" alt=""/>
  </div>
  <!-- TemplateBeginEditable name="EditRegion2" style="text-align: center" -->
  <div class="container-fluid">
  <h3>¿Qué son los Desórdenes Alimenticios?</h3>
  <p>Son trastornos mentales caracterizado por una relación patológica con la alimentación, pero también con la imagen corporal y el peso.</p>
  <p>Por lo general, los desórdenes alimenticios incluyen la presencia de pensamientos y sentimientos negativos y de autocrítica sobre el peso corporal y sobre la comida y de hábitos alimentarios que interfieren en el funcionamiento normal del cuerpo y las actividades cotidianas.</p>
  <h3>Sobre los desórdenes alimenticios</h3>
  <p>A pesar de que los desórdenes alimenticios son más frecuentes en las chicas, también pueden afectar a los chicos. En EE.UU., son tan frecuentes que 1 o 2 de cada 100 niños sufren un trastorno de este tipo, generalmente la anorexia o la bulimia. Lamentablemente, muchos niños y adolescentes logran ocultar desórdenes alimenticios a sus familias durante meses o incluso años.</p>
	  
  <h2>Tipos de Desórdenes alimenticios</h2>
  <ol style="font-size: 1rem">
  <li>Pica</li>
  <li>Trastorno por atracón</li>
  <li>Trastorno por rumiación</li>
  <li>Trastorno de evitación/ Restricción de la ingestión de alimentos</li>
  <li>Anorexia</li>
  <li>Bulimia</li>
  </ol>
  </div>
  <!-- TemplateEndEditable -->
  <!-- body code goes here -->


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="../js/jquery-3.3.1.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../js/popper.min.js"></script> 
  <script src="../js/bootstrap-4.3.1.js"></script>
  </body>
</html>